<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" media="all" href="css/resets.css"/>
    <link rel="stylesheet" media="all" href="css/default.css"/>
    <link rel="stylesheet" media="all" href="css/13col.css"/>
    <link rel="stylesheet" media="all" href="css/3col.css"/>
    <link rel="stylesheet" media="all" href="css/5col.css"/>
    <link rel="stylesheet" media="all" href="css/iphone4.css"/>

    <meta name="viewport" content="width=device-width; initial-scale=1"/>
    <!-- Add "maximum-scale=1" to fix the weird iOS auto-zoom bug on orientation changes. -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script src="js/google-analytics.js"></script>
</head>

<body>

    <div>

        {{ content }}

    </div>

</body>

</html>
